@mixin fontFamily {
    font-family: 'Raleway', sans-serif;
}

h1 {
    display: inline-block;
}

.start-wrapper {
    text-align: center;
    width: 100%;
    margin: 40vh 0;
}

.user-info {
    text-align: right;
    padding: 30px;
    float: right;
}

button {
    @include fontFamily;
    padding: 6px 70px;
    font-size: 17px;
}