<div class="questions-wrapper">
  <div class="questions-container">
    <h2>
      Question Number 1 ?
    </h2>

    <div class="Anaswers">
          <ul *ngFor="let question of questions | async">
            <li>Answer 1</li>
            <li>Answer 2</li>
            <li>Answer 3</li>
            <li>Answer 4</li>
            {{ question | json }}
          </ul>
    </div>

    <mat-divider></mat-divider>

    <div class="next-wrapper">
        <button mat-raised-button color="warn" (click)="nextQuestion()" >Next</button>
    </div>

  </div>
</div>

