<div class="questions-wrapper">
  <div class="questions-container">
    <h2 class="question">
      {{questions[activeQuestion]?.question}}
    </h2>

    <div class="Anaswers">
          <ul>
            <li *ngFor="let answers of questions[activeQuestion]?.Answers; let i = index"
                [ngClass]="{correct: correctAnswer === i , incorrect: correctAnswer !== i &&  inCorrectAnswer === i}"
                id="i" (click)="selectedQuestion(i)"
                >
               {{answers}}
            </li>
          </ul>
    </div>

    <mat-divider></mat-divider>
    <div class="pagination-wrapper">
      <div class="pagination">
        {{activeQuestion + 1}} / {{questions.length}}
      </div>
    </div>
    <div class="score">
        Your Score - {{score}}
      </div>
    <div class="next-wrapper">
        <button mat-raised-button color="warn" (click)="nextQuestion()" >Next</button>
    </div>
  </div>
</div>

